soundnest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="soundnest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="modules">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="modulename"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="club" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="eventname" use="optional"/>
                      <xs:attribute type="xs:short" name="Membercount" use="optional"/>
                      <xs:attribute type="xs:float" name="partipantscount" use="optional"/>
                      <xs:attribute type="xs:short" name="year" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="s">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="email"/>
                          <xs:element type="xs:long" name="phone"/>
                          <xs:element type="xs:string" name="reason"/>
                          <xs:element type="xs:string" name="usetype" minOccurs="0"/>
                          <xs:element type="xs:string" name="usereason" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="c">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="content">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="title"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="about" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="info"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>